{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Carátula{% endblock %}

{% block page-title %}
<i class="far fa-fw fa-file-alt"></i>
Carátula
{% if form.expte_nro.initial %}
| Expediente
<span class="badge badge-dark">{{ form.expte_nro.initial }}</span>
{% endif %}
{% endblock %}

{% block content %}
<div class="card bg-light shadow mb-4 col-lg-8">
  <div class="card-body">
    {% crispy form %}
  </div>
</div>
{% endblock %}

{% block extra_css %}
{% include "helpers/datepicker.css.html" %}
{% endblock extra_css %}

{% block extra_js %}
{% include "helpers/datepicker.js.html" %}
{% endblock extra_js %}