asgiref==3.11.1
django-appconf==1.2.0
django-crispy-forms==1.14.0
django-dynamic-preferences==1.17.0
django-environ==0.11.2
django-extensions==3.2.3
django-nested-admin==4.1.6
django-redis==5.4.0
django-select2==8.4.8
django==5.2.14
gunicorn==23.0.0
packaging==26.2
persisting-theory==1.0
psycopg2==2.9.12
python-monkey-business==1.1.0
redis==7.4.0
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
