appdirs==1.4.0
dj-database-url==0.4.2
#django-heroku
Django==1.8.9
django-extensions==1.7.6
django-filebrowser==3.6.4
django-grappelli==2.7.3
django-nested-admin==2.1.8
gea==0.2.26
gunicorn==19.6.0
olefile==0.44
packaging==16.8
pillow>=6.2.0
psycopg2==2.8.4
pyparsing==2.1.10
six==1.10.0
whitenoise==3.2.3
