{% extends "base.html" %}
{% load static %}

{% block title %}Acerca de{% endblock %}

{% block content %}
{% block page-heading %}{% endblock %}
<div class="row m-3">
  <div class="alert alert-secondary p-5">
    <div class="d-flex justify-content-between align-items-end">
      <div>
        <h1 class="display-4 fw-bolder"><a href="{% url 'home' %}">GEA</a></h1>
        <h4><strong>G</strong>estión de <strong>E</strong>xpedientes de <strong>A</strong>grimensores</h4>
      </div>
      <img class="mb-2" src="{% static 'img/folder.png' %}" alt="Expedientes" height=120>
    </div>
    <hr>
    <blockquote class="blockquote text-end">
      <a href="https://github.com/quijot/gea-rw/"><i class="bi bi-github"></i></a>
      <a href="https://pypi.python.org/pypi/gea/"><i class="bi bi-filetype-py"></i></a>
      <footer class="blockquote-footer my-2">desarrollado por
        <cite title="Santiago Pestarini">
          <a href="https://github.com/quijot/">Santiago Pestarini</a>
        </cite>
      </footer>
    </blockquote>
  </div>
</div>
{% endblock %}

{% block top_button %}{% endblock %}