{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block page-title %}
<a href="{% url 'home' %}"><span class="font-weight-bold">GEA</span></a> | Panel principal
{% endblock %}

{% block content %}
<!-- Status -->
<div class="row">
  <div class="col-lg-8">
    <div class="card shadow-lg mb-4 border-success">
      <div class="card-header bg-success text-white">
        <h4 class="card-title">
          <i class="fas fa-fw fa-compass"></i>
          <strong>Relevamientos</strong>
        </h4>
        <span>Últimos 5 de {{ relev_list.count }} relevamientos.</span>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for e in relev_list|slice:":5" %}
          <li class="list-group-item">
            <span class="badge badge-primary float-right">
              {{ e.fecha_medicion }}
            </span>
            <a href="{{ e.get_absolute_url }}" class="badge badge-dark p-1 mr-1">{{ e.id }}</a>
            <strong>{{ e.personas.first.apellidos }}</strong> -
            <em>{{ e.lugares.first.nombre }}</em>
          </li>
          {% empty %}
          <li class="list-group-item">
            No hay Expedientes en este estado.
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow-lg mb-4 border-primary">
      <div class="card-header bg-primary text-white">
        <span class="float-right">
          <a href="{% url 'expedientes' %}?estado_expediente=inscripto" class="btn btn-primary" title="Ver todos">
            <i class="fas fa-fw fa-plus"></i>
          </a>
        </span>
        <h4 class="card-title">
          <i class="fas fa-fw fa-map"></i>
          <strong>Planos inscriptos</strong>
        </h4>
        <span>Últimos 5 de {{ insc_list.count }} planos inscriptos.</span>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for e in insc_list|slice:":5" %}
          <li class="list-group-item">
            <span class="badge badge-primary float-right">
              {{ e.inscripcion_fecha }}
            </span>
            <a href="{{ e.get_absolute_url }}" class="badge badge-dark p-1 mr-1">{{ e.id }}</a>
            <i class="far fa-fw fa-map"></i> <strong>{{ e.inscripcion_numero }}</strong>
          </li>
          {% empty %}
          <li class="list-group-item">
            No hay Expedientes en este estado.
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow-lg mb-4 border-warning">
      <div class="card-header bg-warning text-white">
        <span class="float-right">
          <a href="{% url 'expedientes' %}?estado_expediente=pendiente" class="btn btn-warning" title="Ver todos">
            <i class="fas fa-fw fa-plus"></i>
          </a>
        </span>
        <h4 class="card-title">
          <i class="fas fa-fw fa-file-signature"></i>
          <strong>Órdenes de trabajo</strong>
        </h4>
        <span>Últimas 10 de {{ ord_list.count }} órdenes pendientes.</span>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for e in ord_list|slice:":10" %}
          <li class="list-group-item">
            <span class="badge badge-primary float-right">
              {{ e.orden_fecha }}
            </span>
            <a href="{{ e.get_absolute_url }}" class="badge badge-dark p-1 mr-1">{{ e.id }}</a>
            <span class="badge badge-danger">CoPA <strong>{{ e.orden_numero }}</strong></span>
          </li>
          {% empty %}
          <li class="list-group-item">
            No hay Expedientes en este estado.
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card shadow-lg mb-4 border-info">
      <div class="card-header bg-info text-white">
        <h4 class="card-title">
          <i class="fas fa-fw fa-folder-open"></i>
          <strong>Alta de Expedientes</strong>
        </h4>
        <span>Últimas 10 de {{ open_list.count }} altas.</span>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for e in open_list|slice:":10" %}
          <li class="list-group-item">
            <span class="badge badge-primary float-right">
              {{ e.created }}
            </span>
            <a href="{{ e.get_absolute_url }}" class="badge badge-dark p-1 mr-1">{{ e.id }}</a>
            <strong>{{ e.personas.first.apellidos }}</strong> -
            <em>{{ e.lugares.first.nombre }}</em>
          </li>
          {% empty %}
          <li class="list-group-item">
            No hay Expedientes en este estado.
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}