{% extends "base.html" %}

{% block title %}GEA | Buscar Planos por Número de Inscripción{% endblock %}

{% block content %}
<form class="form-horizontal col-lg-6" method="post">{% csrf_token %}
  <legend><i class="bi bi-map-fill"></i> Buscar Planos por Número de Inscripción</legend>
  <fieldset>
    <div class="mb-3">
      <table class="table table-sm table-hover">
      {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary float-end"><i class="bi bi-search"></i> Buscar</button>
    </div>
  </fieldset>
</form>
{% endblock %}
