{% extends "base.html" %}
{% block title %}Catastos Locales{% endblock title %}

{% block page-title %}
<i class="fas fa-fw fa-map-signs"></i>
Catastros Locales
{% if lugar %}
<span class="h5 ml-3">
  {{ lugar }}
  - sección:<strong>{{ seccion|default:"todas" }}</strong>
  - manzana:<strong>{{ manzana|default:"todas" }}</strong>
  - parcela:<strong>{{ parcela|default:"todas" }}</strong>
</span>
{% endif %}
{% endblock %}

{% load tags %}
{% block content %}

<!-- Filtros -->
<div class="card bg-light shadow mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-1">Lugar</div>
      <div class="dropdown col-lg-4">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="lugar" name="lugar"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <strong>{{ lugar|default:"Seleccione un Lugar" }}</strong>
        </button>
        <div class="dropdown-menu">
          {% for l in lugares %}
          <a class="dropdown-item {% if lugar == l %}active{% endif %}"
            href="{% url 'catastros_locales' %}?lugar={{ l }}">
            <small>{{ l }}</small>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-1">Sección</div>
      <div class="col-lg-6 btn-group btn-group-sm" role="group">
        <a href="{% url 'catastros_locales' %}?lugar={{ lugar }}"
          class="btn {% if not seccion %}btn-outline-secondary active{% else %} btn-info{% endif %}">*</a>
        {% for s in secciones %}
        <a href="{% url 'catastros_locales' %}?lugar={{ lugar }}&seccion={{ s }}"
          class="btn {% if seccion == s %}btn-outline-secondary active{% else %} btn-primary{% endif %}">{{ s }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">Manzana</div>
      <div class="col-lg-11 btn-group btn-group-sm" role="group">
        <a href="{% url 'catastros_locales' %}?lugar={{ lugar }}"
          class="btn {% if not manzana %}btn-outline-secondary active{% else %} btn-info{% endif %}">*</a>
        {% for m in manzanas %}
        <a href="{% url 'catastros_locales' %}?lugar={{ lugar }}{% if seccion %}&seccion={{ seccion }}{% endif %}&manzana={{ m }}"
          class="btn {% if manzana == m %}btn-outline-secondary active{% else %} btn-primary{% endif %}">{{ m }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">Parcela</div>
      <div class="col-lg-11 btn-group btn-group-sm" role="group">
        <a href="{% url 'catastros_locales' %}?lugar={{ lugar }}&seccion={{ seccion }}&manzana={{ manzana }}"
          class="btn {% if not parcela %}btn-outline-secondary active{% else %} btn-info{% endif %}">*</a>
        {% for p in parcelas %}
        <a href="{% url 'catastros_locales' %}?lugar={{ lugar }}&seccion={{ seccion }}&manzana={{ manzana }}&parcela={{ p }}"
          class="btn {% if parcela == p %}btn-outline-secondary active{% else %} btn-primary{% endif %}">{{ p }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Data -->
<div class="card bg-light shadow mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        {% include "helpers/paginate_by_control.html" %}
      </div>
    </div>
    <div class="row">
      <!-- Data -->
      <div class="col-sm-12">
        <table class="table table-sm table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Expediente</th>
              <th>Persona(s)</th>
              <th>Lugar(es)</th>
              <th>Partida(s)</th>
              <th>Plano</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
            <tr class="{% if object.pendiente %}table-warning{% endif %}">
              <td>
                <!-- EXPEDIENTE -->
                <a href="{{ object.get_absolute_url }}" class="badge badge-dark p-1">{{ object.id }}</a>
              </td>
              <td>
                <!-- PERSONAS -->
                {% if object.cancelado %}
                <span class="badge badge-danger">CANCELADO</span> <small>{{ object.cancelado_por }}</small><br>
                {% endif %}
                {% for ep in object.expedientepersona_set.all %}
                <a href="{{ ep.persona.get_absolute_url }}" title="{{ ep.persona.nombre_completo }}">{{ ep.persona.nombre_completo_elipsis|safe }}</a>
                {% if ep.comitente %}<span class="badge badge-warning">COMITENTE</span>{% endif %}
                {% if ep.persona.telefono %}
                <small>
                  <a href="tel:{{ ep.persona.telefono }}" style="color: unset;">
                    {{ ep.persona.telefono }}
                  </a>
                </small>
                {% endif %}
                {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
              </td>
              <td>
                <!-- LUGARES -->
                {% for el in object.expedientelugar_set.all %}
                <a href="{% url 'admin:gea_lugar_change' el.lugar.id %}">{{ el.lugar.nombre }}</a>
                {% for cl in el.catastrolocal_set.all %}
                <br><small>{{ cl }}</small>
                {% endfor %}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
              </td>
              <td>
                <!-- PARTIDAS -->
                {% for p in object.partidas_list %}
                <span class="badge badge-primary p-1">{{ p.partida_completa }}</span><br>
                {% endfor %}
              </td>
              <td>
                <!-- PLANO -->
                {% if object.orden_numero %}
                <span class="badge badge-danger">CoPA {{ object.orden_numero|default:"S/N" }}</span>
                <small>{{ object.orden_fecha|default:"" }}</small><br>
                {% endif %}
                <i class="far fa-fw fa-map"></i>
                <a href="{{ object.plano_ruta|default:'#' }}" style="color: unset;">
                  {% if object.sin_inscripcion %}
                  <span class="badge badge-info">NO REQUIERE</span>
                  {% else %}
                  {% if object.duplicado %}Dup.{% endif %}
                  <span class="font-weight-bold">
                    {{ object.inscripcion_numero|default:"PENDIENTE" }}
                  </span>
                  {% endif %}
                </a>
                <small>{{ object.inscripcion_fecha|default:"" }}</small>
              </td>
              <td>
                <div class="btn-group">
                  <!-- <a href="{{ object.get_absolute_url }}" class="btn btn-info btn-sm" title="Ver">
                    <i class="fas fa-fw fa-info"></i>
                  </a> -->
                  <a href="{{ object.get_update_url }}" class="btn btn-primary btn-sm" title="Editar">
                    <i class="fas fa-fw fa-pen"></i>
                  </a>
                  <a href="{{ object.get_delete_url }}" class="btn btn-danger btn-sm" title="Eliminar">
                    <i class="fas fa-fw fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
            {% empty %}
            <div class="alert alert-info" role="alert">
              <i class="fas fa-fw fa-info-circle" aria-hidden="true"></i>
              <span class="sr-only">Información:</span>
              No se encontraron Expedientes.
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}