{% extends "base.html" %}

{% block title %}Desvincular{% endblock %}

{% block page-title %}
<i class="fas fa-fw fa-file-alt text-danger"></i>
Partida |
<span class="text-danger">Desvinculando</span>
{% endblock %}

{% block content %}
<div class="card shadow bg-light mb-4">
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <h2 class="pb-4">
        ¿Confirma la desvinculación de <span class="badge badge-danger">{{ object.partida.partida_completa }}</span> del Expediente
        <a href="{{ object.expediente.get_absolute_url }}">
          <span class="badge badge-dark">{{ object.expediente }}</span></a>?
      </h2>
      {% if object.catastro_set.count %}
      <h3 class="lead text-danger font-weight-bold">¡ATENCIÓN!</h3>
      <p>Se encuentran vinculados a esta Partida:</p>
      <ul>
        {% for c in object.catastro_set.all %}
        <li><strong>{{ c }}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="form-group text-right">
        <a href="{{ view.get_success_url }}" name="cancel" class="btn btn-dark" id="cancel-id-delete">Cancelar</a>
        <input type="submit" name="delete" value="Desvincular" class="btn btn-danger" id="submit-id-delete">
      </div>
    </form>
  </div>
</div>
{% endblock content %}