{% extends "base.html" %}
{% block title %}{{ object }}{% endblock title %}

{% block page-title %}
<i class="fas fa-fw fa-folder-open"></i>
Expediente <span class="badge badge-dark">{{ object }}</span>
{% endblock %}
{% block page-heading-buttons %}
<div class="btn-group d-print-none shadow" role="group" aria-label="Actions">
  <div class="btn-group" role="group" aria-label="Notas">
    <button id="btnGroupDrop" type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Generar</button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
      <a class="dropdown-item" href="{% url 'caratula' object.id  %}">
        <i class="far fa-fw fa-file-alt"></i> Carátula de Plano
      </a>
      <a class="dropdown-item" href="{% url 'solicitud' object.id  %}">
        <i class="fas fa-fw fa-file-signature"></i> Solicitud de Inscripción
      </a>
      <a class="dropdown-item" href="{% url 'visacion' object.id  %}">
        <i class="far fa-fw fa-file"></i> Visación Municipal
      </a>
    </div>
  </div>
  <a onclick="window.print();" class="d-sm-inline-block btn btn-secondary">
    <i class="fas fa-fw fa-print text-white-50"></i> Imprimir
  </a>
</div>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-4">
    <div class="card bg-light shadow mb-2">
      <div class="card-header">
        <div class="btn-group btn-group-sm d-print-none float-right" role="group" aria-label="Actions">
          <a href="{{ object.get_update_url }}" class="btn btn-outline-primary" title="Editar">
            <i class="fas fa-fw fa-sm fa-pen"></i>
          </a>
          <a href="{{ object.get_delete_url }}" class="btn btn-outline-danger" title="Eliminar">
            <i class="fas fa-fw fa-sm fa-trash"></i>
          </a>
        </div>
        <i class="fas fa-fw fa-folder"></i>
        <span class="lead font-weight-bold">Expediente Nº {{ object }}</span>
        <div class="font-weight-light">
          <span class="font-weight-bold">
            <a href="{{ object.plano_ruta|default:'#' }}" style="color: unset;">
              <i class="far fa-fw fa-map"></i>
              {% if object.duplicado %}Dup.{% endif %}
              {{ object.inscripcion_numero|default:"<span class='text-warning'>¡PENDIENTE!</span>" }}
            </a>
          </span>&nbsp;
          <small>{{ object.inscripcion_fecha|default:"" }}</small>
          <!-- <a href="#" title="Editar inscripción SCIT">
            <span class="badge badge-light d-print-none">
              <i class="fas fa-fw fa-pen"></i> SCIT
            </span>
          </a> -->
        </div>
      </div>
      <div class="card-body font-weight-light">
        <div class="mb-4">
          {% for el in object.expedientelugar_set.all %}
          {{ el.lugar }}
          <!-- <a href="#" title="Editar Catastro Local">
            <span class="badge badge-light d-print-none">
              <i class="fas fa-fw fa-pen"></i> Catastro
            </span>
          </a> -->
          <br>
          <small>
            {% for cl in el.catastros_locales_list %}
            {{ cl }}<br>
            {% endfor %}
          </small>
          {% endfor %}
        </div>
        <div class="mb-4">
          {% for o in object.objetos.all %}
          {{ o }}<br>
          {% endfor %}
        </div>
        <div class="mb-4">
          {% for p in object.partidas_list %}
          <span class="badge badge-primary p-1">{{ p }}</span>
          {% endfor %}
          <!-- <a href="#" title="Editar Partidas asociadas">
            <span class="badge badge-light d-print-none">
              <i class="fas fa-fw fa-pen"></i> PII
            </span>
          </a> -->
        </div>
        <div class="mb-4">
          <span class="badge badge-danger p-1 mr-1">CoPA {{ object.orden_numero|default:"S/N" }}</span>
          <small>{{ object.orden_fecha|default:"" }}</small>
        </div>
        <hr>
        <div class="mb-4">
          Medición: {{ object.fecha_medicion|default:"<em>PENDIENTE</em>" }}
          <br>
          {% for p in object.profesionales_firmantes.all %}
          {{ p.titulo }} {{ p }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card bg-light shadow mb-2">
      <div class="card-header">
        <!-- <div class="btn-group btn-group-sm d-print-none float-right" role="group" aria-label="Actions">
          <a href="#" class="btn btn-outline-success" title="Agregar">
            <i class="fas fa-fw fa-sm fa-plus"></i>
          </a>
        </div> -->
        <i class="fas fa-fw fa-sm fa-folder-open"></i>
        <span class="lead font-weight-bold">Personas ({{ object.expedientepersona_set.count }})</span>
      </div>
      <div class="card-body">
        <ul class="list-group">
          {% for ep in object.expedientepersona_set.all %}
          <li class="list-group-item bg-light">
            <div class="row">
              <div class="col-lg-6">
                <a href="{{ ep.persona.get_absolute_url }}">{{ ep.persona }}</a>
                <br>
                <small>
                  {% if ep.persona.telefono %}
                  <i class="fas fa-fw fa-phone"></i>
                  <a href="tel:{{ ep.persona.telefono }}">{{ ep.persona.telefono }}</a>
                  {% endif %}
                  {% if ep.persona.email %}
                  <i class="far fa-fw fa-envelope"></i>
                  <a href="mailto:{{ ep.persona.email }}">{{ ep.persona.email }}</a><br>
                  {% endif %}
                </small>
              </div>
              <div class="col-lg-6">
                <div class="btn-group btn-group-sm d-print-none float-right" role="group" aria-label="Actions">
                  <!-- <a href="#" class="btn btn-outline-primary">
                    <i class="fas fa-fw fa-sm fa-pen" title="Editar"></i>
                  </a> -->
                  <a href="{{ ep.get_delete_url }}" class="btn btn-outline-danger">
                    <i class="fas fa-fw fa-sm fa-trash" title="Desvincular"></i>
                  </a>
                </div>
                {% if ep.comitente %}
                <span class="badge badge-warning">COMITENTE</span>
                {% endif %}
                {% if ep.propietario %}
                <span class="badge badge-primary">
                  {% if ep.nuda_propiedad %}
                  NUDO PROPIETARIO
                  {% else %}
                  PROPIETARIO
                  {% endif %}
                  {% if ep.partes_indivisas_propias %}
                  ({{ ep.partes_indivisas_propias }}/{{ ep.partes_indivisas_total }})
                  {% endif %}
                </span>
                {% endif %}
                {% if ep.poseedor %}
                <span class="badge badge-danger">POSEEDOR</span>
                {% endif %}
                {% if ep.sucesor %}
                <span class="badge badge-info">SUCESOR</span>
                {% endif %}
                {% if ep.sucesion %}
                <span class="badge badge-info">HOY SUCESORES</span>
                {% endif %}
                {% if ep.usufructo %}
                <span class="badge badge-warning">USUFRUCTO</span>
                {% endif %}
              </div>
            </div>
          </li>
          {% empty %}
          <span class="text-danger">No registra.</span>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}