{% extends "base.html" %}
{% block title %}{{ object }}{% endblock title %}

{% block page-title %}
<i class="bi bi-folder2-open"></i>
Expediente <span class="badge bg-dark">{{ object }}</span>
{% endblock %}
{% block page-heading-buttons %}
<div class="btn-group d-print-none shadow" role="group" aria-label="Actions">
  <div class="btn-group" role="group" aria-label="Notas">
    <button id="btnGroupDrop" type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Generar</button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
      <a class="dropdown-item" href="{% url 'caratula' object.id  %}">
        <i class="bi bi-file-earmark-text"></i> Carátula de Plano
      </a>
      <a class="dropdown-item" href="{% url 'solicitud' object.id  %}">
        <i class="bi bi-file-earmark-medical-fill"></i> Solicitud de Inscripción
      </a>
      <a class="dropdown-item" href="{% url 'visacion' object.id  %}">
        <i class="bi bi-file-earmark"></i> Visación Municipal
      </a>
    </div>
  </div>
  <a onclick="window.print();" class="d-sm-inline-block btn btn-secondary">
    <i class="bi bi-printer-fill text-white text-opacity-50"></i> Imprimir
  </a>
  <!-- <a href="{{ object.get_delete_url }}" class="d-sm-inline-block btn btn-danger" title="Eliminar">
    <i class="bi bi-trash-fill text-white text-opacity-50"></i> Eliminar
  </a>
  <a href="{{ object.get_update_url }}" class="btn btn-primary" title="Editar">
    <i class="bi bi-pencil-fill text-white text-opacity-50"></i> Editar
  </a> -->
</div>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-4">
    <div class="card bg-light shadow mb-2">
      <div class="card-header">
        <div class="btn-group btn-group-sm d-print-none float-end" role="group" aria-label="Actions">
          <a href="{{ object.get_update_url }}" class="btn btn-outline-primary" title="Editar">
            <i class="bi bi-pencil-fill"></i>
          </a>
          <a href="{{ object.get_delete_url }}" class="btn btn-outline-danger" title="Eliminar">
            <i class="bi bi-trash-fill"></i>
          </a>
        </div>
        <i class="bi bi-folder-fill"></i>
        <span class="lead fw-bold">Expediente Nº {{ object }}</span>
        <div class="fw-light">
          <span class="fw-bold">
            <a href="{{ object.plano_ruta|default:'#' }}" style="color: unset;">
              <i class="bi bi-map"></i>
              {% if object.sin_inscripcion %}
              <span class="badge bg-info">NO REQUIERE</span>
              {% else %}
              {% if object.duplicado %}Dup.{% endif %}
              {{ object.inscripcion_numero|default:"<span class='text-warning'>¡PENDIENTE!</span>" }}
              {% endif %}
            </a>
          </span>&nbsp;
          <small>{{ object.inscripcion_fecha|default:"" }}</small>
          <a href="{{ object.get_update_plano_url }}" title="Editar inscripción SCIT">
            <span class="badge bg-light d-print-none" style="background-color:transparent">
              <i class="bi bi-pencil-fill"></i> Plano
            </span>
          </a>
        </div>
      </div>
      <div class="card-body fw-light">
        <div class="mb-4">
          {% for o in object.objetos.all %}
          {{ o }}
          {% empty %}
          <a href="{{ object.get_update_url }}" title="Agregar Objeto">
            <span class="badge bg-light d-print-none">
              <i class="bi bi-plus-lg text-success"></i> Agregar Objeto</span></a>
          {% endfor %}
        </div>
        <div class="mb-4">
          {% for el in object.expedientelugar_set.all %}
          {{ el.lugar }}
          <a href="{{ el.get_update_url }}" title="Editar Catastro Local">
            <span class="badge bg-light d-print-none">
              <i class="bi bi-pencil-fill"></i> Catastro</span></a>
          <a href="{{ el.get_delete_url }}" title="Eliminar Lugar">
            <span class="badge bg-light d-print-none">
              <i class="bi bi-x-lg text-danger"></i></span></a>
          <br>
          <small>
            {% for cl in el.catastros_locales_list %}
            {{ cl }}<br>
            {% endfor %}
          </small>
          {% empty %}
          <a href="{{ object.get_update_url }}" title="Agregar Lugar">
            <span class="badge bg-light d-print-none">
              <i class="bi bi-plus-lg text-success"></i> Agregar Lugar</span></a>
          {% endfor %}
        </div>
        <div class="mb-4">
          {% for ep in object.expedientepartida_set.all %}
          <span class="badge bg-primary p-1">{{ ep.partida.partida_api }}</span>
          <a href="{{ ep.get_update_url }}" title="Editar Partida asociada">
            <span class="badge bg-light d-print-none">
              <i class="bi bi-pencil-fill"></i> SCIT</span></a>
          <a href="{{ ep.get_delete_url }}" title="Eliminar Partida asociada">
            <span class="badge bg-light d-print-none">
              <i class="bi bi-x-lg text-danger"></i></span></a>
          <small>
            {% for c in ep.catastro_set.all %}
            <br>{{ c }}
            {% endfor %}
          </small>
          <!-- {% if not forloop.last %}<br>{% endif %} -->
          <br>
          {% endfor %}
          <a href="{% url 'partida_to_expediente' object.id %}" title="Asociar nueva Partida de Impuesto Inmobiliario">
            <span class="badge bg-light d-print-none">
              <i class="bi bi-plus-lg text-success"></i> Agregar Partida</span></a>
        </div>
        <div class="mb-4">
          <span class="badge bg-danger p-1 me-1">CoPA {{ object.orden_numero|default:"S/N" }}</span>
          <small>{{ object.orden_fecha|default:"" }}</small>
        </div>
        <hr>
        <div class="mb-4">
          {% if object.antecedente_set.count %}
          Antecedentes ({{ object.antecedente_set.count }}):
          <br>
          {% for a in object.antecedente_set.all %}
          {% if a.expediente_modificado %}
          <span class="badge bg-dark p-1 me-1">{{ a.expediente_modificado.id }}</span>
          <span class="fw-bold">
            <a href="{{ a.expediente_modificado.plano_ruta|default:'#' }}" style="color: unset;">
              <i class="bi bi-map"></i>
              {% if a.expediente_modificado.sin_inscripcion %}
              <span class="badge bg-info">NO REQUIERE</span>
              {% else %}
              {% if a.expediente_modificado.duplicado %}Dup.{% endif %}
              {{ a.expediente_modificado.inscripcion_numero|default:"<span class='text-warning'>¡PENDIENTE!</span>" }}
              {% endif %}
            </a>
          </span>
          <small>/{{ a.expediente_modificado.inscripcion_fecha.year|default:"" }}</small>&nbsp;
          {% else %}
          <span class="fw-bold">
            <i class="bi bi-map"></i>
            {{ a.inscripcion_numero }}
          </span>&nbsp;
          {% endif %}
          <small>{{ a.observacion }}</small><br>
          {% endfor %}
          {% else %}
          No registra antecedentes
          {% endif %}
        </div>
        <hr>
        <div class="mb-4">
          Medición: {{ object.fecha_medicion|default:"<em>PENDIENTE</em>" }}
          <br>
          {% for p in object.profesionales_firmantes.all %}
          {{ p.titulo }} {{ p }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card bg-light shadow mb-2">
      <div class="card-header">
        <!-- <div class="btn-group btn-group-sm d-print-none float-end" role="group" aria-label="Actions">
          <a href="{% url 'persona_to_expediente' object.id %}" class="btn btn-outline-primary" title="Agregar/Editar">
            <i class="bi bi-pencil-fill"></i>
          </a>
        </div> -->
        <i class="bi bi-people-fill"></i>
        <span class="lead fw-bold">Personas ({{ object.expedientepersona_set.count }})</span>
      </div>
      <div class="card-body">
        <ul class="list-group">
          {% for ep in object.expedientepersona_set.all %}
          <li class="list-group-item bg-light">
            <div class="row">
              <div class="col-lg-6">
                <a href="{{ ep.persona.get_absolute_url }}">{{ ep.persona }}</a>
                <br>
                <small>
                  {% if ep.persona.telefono %}
                  <i class="bi bi-telephone-fill"></i>
                  <a href="tel:{{ ep.persona.telefono }}">{{ ep.persona.telefono }}</a>
                  {% endif %}
                  {% if ep.persona.email %}
                  <i class="bi bi-envelope"></i>
                  <a href="mailto:{{ ep.persona.email }}">{{ ep.persona.email }}</a><br>
                  {% endif %}
                </small>
              </div>
              <div class="col-lg-6">
                <div class="btn-group btn-group-sm d-print-none float-end" role="group" aria-label="Actions">
                  <a href="{{ ep.get_delete_url }}" class="btn btn-outline-danger">
                    <i class="bi bi-trash-fill" title="Desvincular"></i>
                  </a>
                </div>
                {% if ep.comitente %}
                <span class="badge bg-warning">COMITENTE</span>
                {% endif %}
                {% if ep.propietario %}
                <span class="badge bg-primary">
                  {% if ep.nuda_propiedad %}
                  NUDO PROPIETARIO
                  {% else %}
                  PROPIETARIO
                  {% endif %}
                  {% if ep.partes_indivisas_propias %}
                  ({{ ep.partes_indivisas_propias }}/{{ ep.partes_indivisas_total }})
                  {% endif %}
                </span>
                {% endif %}
                {% if ep.poseedor %}
                <span class="badge bg-danger">POSEEDOR</span>
                {% endif %}
                {% if ep.sucesor %}
                <span class="badge bg-info">SUCESOR</span>
                {% endif %}
                {% if ep.sucesion %}
                <span class="badge bg-info">HOY SUCESORES</span>
                {% endif %}
                {% if ep.usufructo %}
                <span class="badge bg-warning">USUFRUCTO</span>
                {% endif %}
              </div>
            </div>
          </li>
          {% empty %}
          <span class="text-danger">No registra.</span>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}