{% extends "base.html" %}
{% block title %}Expedientes{% endblock title %}

{% block page-title %}
<i class="fas fa-fw fa-folder"></i>
Expedientes
{% endblock %}
{% block page-heading-buttons %}
<div class="btn-group shadow">
  <a href="{% url 'expediente_create' %}" class="btn btn-success">
    <i class="fas fa-fw fa-folder-plus"></i> Agregar
  </a>
</div>
{% endblock %}

{% load tags %}
{% block content %}
<div class="card bg-light shadow mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        {% include "helpers/paginate_by_control.html" %}
      </div>
      <div class="col-sm-12 col-md-7">
        {% include "helpers/search_control.html" %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <form class="form-inline float-right" action="." method="get">
          <div class="input-group mb-2">
            <fieldset class="form-group">
              <div class="form-check mx-2">
                <label class="form-check-label" for="pendiente">
                  <input class="form-check-input" type="radio" name="estado_expediente" value="pendiente"
                  {% if request.GET.estado_expediente == "pendiente" %}checked{% endif %}>Orden pendiente
                </label>
              </div>
              <div class="form-check mx-2">
                <label class="form-check-label" for="inscripto">
                  <input class="form-check-input" type="radio" name="estado_expediente" value="inscripto"
                  {% if request.GET.estado_expediente == "inscripto" %}checked{% endif %}>Inscripto
                </label>
              </div>
              <div class="form-check mx-2">
                <label class="form-check-label" for="cancelado">
                  <input class="form-check-input" type="radio" name="estado_expediente" value="cancelado"
                  {% if request.GET.estado_expediente == "cancelado" %}checked{% endif %}>Cancelado
                </label>
              </div>
              <div class="form-check mx-2">
                <label class="form-check-label" for="duplicado">
                  <input class="form-check-input" type="radio" name="estado_expediente" value="duplicado"
                  {% if request.GET.estado_expediente == "duplicado" %}checked{% endif %}>Duplicado
                </label>
              </div>
              <div class="form-check mx-2">
                <label class="form-check-label" for="sin_inscr">
                  <input class="form-check-input" type="radio" name="estado_expediente" value="sin_inscr"
                  {% if request.GET.estado_expediente == "sin_inscr" %}checked{% endif %}>No requiere plano
                </label>
              </div>
            </fieldset>
            <div class="input-group-append">
              <button type="submit" class="btn btn-sm btn-info">
                <i class="fas fa-fw fa-filter"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <!-- Data -->
      <div class="col-sm-12">
        <table class="table table-sm table-hover table-responsive-md">
          <thead>
            <tr>
              <th>Expediente</th>
              <th>Persona(s)</th>
              <th>Lugar(es)</th>
              <th>Partida(s)</th>
              <th>Plano</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
            <tr class="{% if object.pendiente %}table-warning{% endif %}">
              <td>
                <!-- EXPEDIENTE -->
                <a href="{{ object.get_absolute_url }}" class="badge badge-dark p-1">{{ object.id }}</a>
                {% if object.tipo %}
                <a href="{{ object.get_absolute_url }}" class="badge badge-info p-1">{{ object.get_tipo_display }}</a>
                {% endif %}
              </td>
              <td>
                <!-- PERSONAS -->
                {% if object.cancelado %}
                <span class="badge badge-danger">CANCELADO</span>&ensp;<small>{{ object.cancelado_por|default:"" }}</small><br>
                {% endif %}
                {% for ep in object.expedientepersona_set.all %}
                <a href="{{ ep.persona.get_absolute_url }}" title="{{ ep.persona.nombre_completo }}">{{ ep.persona.nombre_completo_elipsis|safe }}</a>
                {% if ep.comitente %}<span class="badge badge-warning">COMITENTE</span>{% endif %}
                {% if ep.persona.telefono %}
                <small>
                  <a href="tel:{{ ep.persona.telefono }}" style="color: unset;">
                    {{ ep.persona.telefono }}
                  </a>
                </small>
                {% endif %}
                {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
              </td>
              <td>
                <!-- LUGARES -->
                {% for el in object.expedientelugar_set.all %}
                <a href="{% url 'admin:gea_lugar_change' el.lugar.id %}">{{ el.lugar.nombre }}</a>
                {% for cl in el.catastrolocal_set.all %}
                <br><small>{{ cl }}</small>
                {% endfor %}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
              </td>
              <td>
                <!-- PARTIDAS -->
                {% for p in object.partidas_list %}
                <span class="badge badge-primary p-1">{{ p.partida_api }}</span><br>
                {% endfor %}
              </td>
              <td>
                <!-- PLANO -->
                {% if object.orden_numero %}
                <span class="badge badge-danger">CoPA {{ object.orden_numero|default:"S/N" }}</span>
                <small>{{ object.orden_fecha|default:"" }}</small><br>
                {% endif %}
                <i class="far fa-fw fa-map"></i>
                <a href="{{ object.plano_ruta|default:'#' }}" style="color: unset;">
                  {% if object.sin_inscripcion %}
                  <span class="badge badge-info">NO REQUIERE</span>
                  {% else %}
                  {% if object.duplicado %}Dup.{% endif %}
                  <span class="font-weight-bold">
                    {{ object.inscripcion_numero|default:"PENDIENTE" }}
                  </span>
                  {% endif %}
                </a>
                <small>{{ object.inscripcion_fecha|default:"" }}</small>
              </td>
              <td>
                <div class="btn-group">
                  <!-- <a href="{{ object.get_absolute_url }}" class="btn btn-info btn-sm" title="Ver">
                    <i class="fas fa-fw fa-info"></i>
                  </a> -->
                  <a href="{{ object.get_update_url }}" class="btn btn-primary btn-sm" title="Editar">
                    <i class="fas fa-fw fa-pen"></i>
                  </a>
                  <a href="{{ object.get_delete_url }}" class="btn btn-danger btn-sm" title="Eliminar">
                    <i class="fas fa-fw fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
            {% empty %}
            <div class="alert alert-info" role="alert">
              <i class="fas fa-fw fa-info-circle" aria-hidden="true"></i>
              <span class="sr-only">Información:</span>
              No se encontraron registros.
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      {% include "helpers/pagination_bar.html" %}
    </div>
  </div>
</div>
{% endblock content %}