{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Expediente {{ object }}{% endblock %}

{% block page-title %}
<i class="bi bi-folder2-open"></i>
Expediente |
<span class="text-primary">
  {% if object %}
  Editando
  <span class="badge bg-dark">{{ object }}</span>
  {% else %}
  Agregando
  {% endif %}
</span>
{% endblock %}

{% block content %}
<div class="card bg-light shadow mb-4">
  <div class="card-body">
    {% crispy form %}
  </div>
</div>
{% endblock %}

{% block extra_css %}
<!-- DatePicker CSS -->
{% include "helpers/datepicker.css.html" %}
{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
<!-- DatePicker JS -->
{% include "helpers/datepicker.js.html" %}
<!-- Add Form to Formset -->
{% include "helpers/add_form_button.html" %}
{% endblock extra_js %}