{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Expediente {{ object }}{% endblock %}

{% block page-title %}
<i class="fas fa-folder-open fa-fw"></i>
Expediente |
<span class="text-primary">
  {% if object %}
  Editando
  <span class="badge badge-dark">{{ object }}</span>
  {% else %}
  Agregando
  {% endif %}
</span>
{% endblock %}

{% block content %}
<div class="card bg-light shadow mb-4">
  <div class="card-body">
    {% crispy form %}
  </div>
</div>
{% endblock %}

{% block extra_css %}
<!-- DatePicker CSS -->
{% include "helpers/datepicker.css.html" %}
<style>
  .form-check {display: revert;}
</style>
{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
<!-- Select2 config -->
<script>
  $.fn.select2.defaults.set( "theme", "bootstrap4" );
</script>
<!-- Select2 Internationalization -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/i18n/es.js"></script>
<!-- DatePicker JS -->
{% include "helpers/datepicker.js.html" %}
<!-- Add Form to Formset -->
{% include "helpers/add_form_button.html" %}
{% endblock extra_js %}