{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Expediente {{ object }}{% endblock %}

{% block page-title %}
<i class="fas fa-folder-open fa-fw"></i>
Expediente <span class="badge badge-dark">{{ object }}</span> |
<span class="text-primary">
  Actualizando Nº de Plano
</span>
{% endblock %}

{% block content %}
<div class="card bg-light shadow mb-4">
  <div class="card-body">
    {% crispy form %}
  </div>
</div>
{% endblock %}

{% block extra_css %}
<!-- DatePicker CSS -->
{% include "helpers/datepicker.css.html" %}
{% endblock extra_css %}

{% block extra_js %}
<!-- DatePicker JS -->
{% include "helpers/datepicker.js.html" %}
{% endblock extra_js %}